[run]
branch = true

[report]
exclude_lines =
  pragma: no cover
  raise NotImplementedError
  def __repr__
  def __str__
omit =
    tchannel/zipkin/thrift/*
    tchannel/testing/vcr/proxy/*
    tchannel/testing/data/*
    examples/benchmark/thrift/service/*
    examples/guide/keyvalue/keyvalue/service/*

[xml]
output = coverage.xml
