---
sudo: required
services:
    - docker

#
# testing multiple subdirectories
# @see https://lord.io/blog/2014/travis-multiple-subdirs/
# @see https://www.dominicrodger.com/tox-and-travis.html
#
language: python
env:
    - TOX_ENV=py27-tornado42
    - TOX_ENV=py27-tornado43
    - TOX_ENV=pypy-tornado42
    - TOX_ENV=pypy-tornado43
    - TOX_ENV=cover
    - TOX_ENV=flake8
    - TOX_ENV=docs
    - TOX_ENV=benchmark

install:
  - make install

script:
  - make test_ci

after_success:
  - coveralls -v

