# Testing and coverage
pytest
pytest-cov
pytest-timeout
pytest-tornado
# bound pygal due to https://github.com/ionelmc/pytest-benchmark/issues/50
pygal<2.1
pytest-benchmark[histogram]>=3,<4

# Property based tests
hypothesis>=1.14,<2

# Integration test utilities
sh
psutil

# Test all the pythons
tox

#
# futures is installed implicitly through threadloop,
# but tox has an issue where it doesn't pick that up,
# causing tests to fail. This can be reproduced locally
# by removing futures from this file and running:
#
#     tox -e py27 tests
#
# @see https://travis-ci.org/uber/tchannel-python/jobs/86710564
#
futures

# Syntax checker
flake8==2.2.5

# Optional dependency, but must be tested er'ry time
thrift==0.12.0

# Smarter decorators
wrapt>=1.10,<1.11

# OpenTracing reference implementation
jaeger_client>=3.0.1,<4

# Mocks
mock==1.0.1
doubles

# for releases
pip-tools
zest.releaser[recommended]
twine

# for debugging
ipdb
coveralls

PyYAML
